{% extends "layout.html" %}
 
{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-xlarge">Are these photos of the same person?</h1>
		<div class="grid-row">
			<div class="column-half">
				<img src="{{asset_path}}/images/facePhoto.jpg" data-fetch-from-storage="webcam" />				
			</div>
			<div class="column-half">
				<img src="{{asset_path}}/images/passportPhoto.jpg" data-fetch-from-storage="document" />				
			</div>
		</div>
		<br />
		<form class="form-group">
		  <div class="form-group">
		    <fieldset class="form-group">
					<div class="multiple-choice">
						<input id="radio-inline-1" type="radio" name="radio-group" value="id_checker/complete">
						<label for="radio-1">Yes</label>
					</div>
					<div class="multiple-choice">
						<input id="radio-2" type="radio" name="radio-group" value="id_checker/face-photo/take-photo-webcam">
						<label for="radio-2">No</label>
					</div>
				</fieldset>
				<input class="button" type="submit" value="Continue">
		  </div>
		</form>
	</div>
</div>
</main>

{% endblock %}