{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-xlarge">Are these photos of the same person?</h1>
		<img src="http://loremflickr.com/300/400" />
		<img src="http://loremflickr.com/300/400" />
		<form class="form-group">
		  <div class="form-group">
		    <fieldset class="form-group">
					<div class="multiple-choice">
						<input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
						<label for="radio-inline-1">Yes</label>
					</div>
				<div class="multiple-choice">
					<input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
					<label for="radio-inline-2">No</label>
				</div>
				<fieldset class="form-group">
					<input class="button" type="submit" value="Continue">
				</fieldset>
		  </div>
		</form>
	</div>
</div>
</main>

{% endblock %}