{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
       <div class="column-two-thirds">
       <div class="back">
	    <a href="guidance" class="link-back">Back to guidance</a>
	  </div>
         <header>
        <h1 class="heading-large">Rules for taking digital photos of applicants</h1>
        </header>
        <div class="panel panel-border-wide">
            <p>Make sure the photo meets these rules. If it doesn’t, you may have problems with the application.</p> 

            <p>You can use a phone, tablet or digital camera.</p>
        </div>

        <h2 class="heading-medium">What the digital photo must show</h2>
        <p>You'll need to fit the person's head, shoulders and upper body into the photo. Don’t crop your photo too tightly.</p>

        <h3 class="heading-small">The photo must:</h3>

        <ul class="list list-bullet">
            <li>be taken against a plain, light-coloured background</li>
            <li>contain no other objects or people</li>
            <li>not have any shadows on the person's face or behind them</li>
        </ul>

        <h3 class="heading-small">In the photo the person must:</h3>

        <ul class="list list-bullet">
            <li>be facing forward and looking straight at the camera</li>
            <li>have a plain expression and mouth closed</li>
            <li>have their eyes open and visible</li>
            <li>not have hair covering their eyes</li>
            <li>not wear anything on their head (unless it’s for religious or medical reasons)</li>
        </ul>

        <div class="panel panel-border-wide">
            <p>The person must not wear sunglasses or tinted glasses. If they wear glasses that they can’t take off, their eyes must be visible without any glare or reflections.</p>
        </div>

        <h2 class="heading-medium">The quality of the digital photo</h2>
        <p>The photo must be:</p>
        <ul class="list list-bullet">
            <li>in focus and without any red eye</li>
            <li>in colour with no effects or filters</li>
            <li>at least 600 pixels wide and 750 pixels tall</li>
            <li>at least 50kb and no more than 10mb</li>
        </ul>

        <h2 class="heading-medium">Digital photo dos and don’ts</h2>
          <img src="/public/images/photo-example.png">              
        <div id="close"></div>

        </div>
     </div>

</main>

{% endblock %}
