{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
		<div class="column-full">
			<div class="govuk-box-highlight">
				<h1 class="heading-xlarge">
					Basic security check complete
				</h1>
			</div>
		</div>
    <div class="column-two-thirds">
			
			<p>
				You can now proceed to the interview stage of your application.
			</p>
			
			<h2 class="heading-medium">What you'll need in your interview</h2>
			<p>
				When you come to your interview, make sure you have access to your GOV.UK Verify identity account. You'll need your 
			</p>
			<ul class="list list-bullet">
				<li>
					Email address or username
				</li>
				<li>
					Password
				</li>
				<li>
					Mobile phone registered to the account
				</li>
			</ul>
			<p>
				You'll also need one of the following documents:
			</p>
			<ul class="list list-bullet">
				<li>
					Passport
				</li>
				<li>
					Driving license
				</li>
				<li>
					Non-UK Identity Card
				</li>
			</ul>
			
			<hr />
			
			<p>
				You might also need other things for your interview that your hiring manager will tell you about.
			</p>


    </div>
  </div>
</main>

{% endblock %}


