{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Check an applicant's ID
      </h1>{{releaseVersion | log }}
      <form>
    <div class="form-group">
      <fieldset>

        <legend>
          <h1 class="heading-medium">
What type of ID are you checking?
</h1>
        </legend>

        <div class="multiple-choice" data-target="contact-by-email">
          <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
          <label for="example-contact-by-email">Passport</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          <ul class="list list-bullet">
        <li>Check for tampering around the biographical details page and photo</li>
        <li>Compare the signatures</li>
        <li>Intaglio printing (raised ink) on the biographical page</li>
        <li>Highly detailed holographs throughout the document</li>
        </p>
        </div>

        <div class="multiple-choice" data-target="contact-by-phone">
          <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
          <label for="example-contact-by-phone">Driving License</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          <ul class="list list-bullet">
        <li>Check for tampering around the biographical details page and photo</li>
        <li>Compare the signatures</li>
        <li>Intaglio printing (raised ink) on the biographical page</li>
        <li>Highly detailed holographs throughout the document</li>
        </p>
        </div>

        <div class="multiple-choice" data-target="contact-by-text">
          <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
          <label for="example-contact-by-text">Non-UK photo ID</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
          <label class="form-label" for="contact-text-message">Mobile phone number</label>
          <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
        </div>

      </fieldset>
    </div>
  </form>
<div class="multiple-choice">
  <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
  <label for="checkbox-telephone-number">I confirm that the ID is legitimate and belongs to the applicant</label>
</div>
<br>
<br>
<br>
<input class="button" type="submit" value="Save and continue">
</main>

{% endblock %}
