{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
		<div class="column-full">
			<div class="govuk-box-highlight">
				<h1 class="heading-xlarge">
					Identity successfully verified
				</h1>
			</div>
		</div>
    <div class="column-two-thirds">

      <h2 class="heading-large">The ID check is complete</h2>
<p>
        This information will be used by the BPSS team if the applicant is successful.</p>

</main>

{% endblock %}
