{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Check an applicant's ID
      </h1>{{releaseVersion | log }}
<p>
  Use this service to check the identity of an applicant
</p>
<a class="button button-start" href="#" role="button">Start now</a>
<h2 class="heading-medium">To confirm the identify of a candidate you will need to:</h2>
<ul class="list list-bullet">
        <li> Ask the candidate to sign in to GOV.UK Verify </li>
        <li> Confirm the candidate has LOA2 clearance on Verify</li>
        <li> Take a photo of the candidate and upload it</li>
        <li> Check the candidate's ID document is legitimate </li>
      </ul>
</main>

{% endblock %}
