{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototype kit
{% endblock %}

{% block content %}

	<main id="content" role="main">
		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">
						What type of photo ID does the candidate have?
				</h1>
				<form>
					<div class="form-group">
						<fieldset>
        <div class="multiple-choice" data-target="contact-by-email">
          <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
          <label for="example-contact-by-email">EU Passport</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          <ul class="list list-bullet">
        <li>Check for tampering around the biographical details page and photo</li>
        <li>Compare the signatures</li>
        <li>Intaglio printing (raised ink) on the biographical page</li>
        <li>Highly detailed holographs throughout the document</li>
        </div>

        <div class="multiple-choice" data-target="driving-licence">
          <input id="example-driving-licence" type="radio" name="radio-contact-group" value="Yes">
          <label for="example-driving-licence">EU Driving Licence</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="driving-licence">
          <ul class="list list-bullet">
        <li>Check for tampering around the biographical details page and photo</li>
        <li>Compare the signatures</li>
        <li>Intaglio printing (raised ink) on the biographical page</li>
        <li>Highly detailed holographs throughout the document</li>
        </div>

        <div class="multiple-choice" data-target="non-uk-photo-id">
          <input id="example-non-uk-photo-id" type="radio" name="radio-contact-group" value="Yes">
          <label for="example-non-uk-photo-id">Biometric Residence Permit</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="non-uk-photo-id">
          <ul class="list list-bullet">
        <li>Check for tampering around the biographical details page and photo</li>
        <li>Compare the signatures</li>
        <li>Intaglio printing (raised ink) on the biographical page</li>
        <li>Highly detailed holographs throughout the document</li>
        </div>

      
      </fieldset>
    </form>
		<br>
		</div>
		<div class="multiple-choice">
		  <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
		  <label for="checkbox-telephone-number">I am satisfied that the document in front of me is genuine</label>
		</div>
		<br>
		<br>
		<br>
		<br>
		<a href="doc-take-photo" class="button">Continue</a>

		</main>

		{% endblock %}
