{% extends "layout.html" %}

{% block page_title %}
	GOV.UK prototype kit
{% endblock %}

{% block content %}

	<main id="content" role="main">
		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">
					Check an applicant's identity
				</h1>{{releaseVersion | log }}
				<form>
					<div class="form-group">
						<fieldset>

							<legend>
								<h1 class="heading-medium">
									What type of ID are you checking?
								</h1>
							</legend>

        <div class="multiple-choice" data-target="contact-by-email">
          <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
          <label for="example-contact-by-email">Passport</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          <ul class="list list-bullet">
        <li>Check for tampering around the biographical details page and photo</li>
        <li>Compare the signatures</li>
        <li>Intaglio printing (raised ink) on the biographical page</li>
        <li>Highly detailed holographs throughout the document</li>
        </div>

        <div class="multiple-choice" data-target="driving-licence">
          <input id="example-driving-licence" type="radio" name="radio-contact-group" value="Yes">
          <label for="example-driving-licence">Driving Licence</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="driving-licence">
          <ul class="list list-bullet">
        <li>Check for tampering around the biographical details page and photo</li>
        <li>Compare the signatures</li>
        <li>Intaglio printing (raised ink) on the biographical page</li>
        <li>Highly detailed holographs throughout the document</li>
        </div>

        <div class="multiple-choice" data-target="non-uk-photo-id">
          <input id="example-non-uk-photo-id" type="radio" name="radio-contact-group" value="Yes">
          <label for="example-non-uk-photo-id">Non-UK Photo ID</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="non-uk-photo-id">
          <ul class="list list-bullet">
        <li>Check for tampering around the biographical details page and photo</li>
        <li>Compare the signatures</li>
        <li>Intaglio printing (raised ink) on the biographical page</li>
        <li>Highly detailed holographs throughout the document</li>
        </div>

        <div class="multiple-choice" data-target="birth-certificate">
          <input id="example-birth-certificate" type="radio" name="radio-contact-group" value="Yes">
          <label for="example-birth-certificate">Birth certificate</label>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="birth-certificate">
          <ul class="list list-bullet">
        <li>Check for tampering around the biographical details page and photo</li>
        <li>Compare the signatures</li>
        <li>Intaglio printing (raised ink) on the biographical page</li>
        <li>Highly detailed holographs throughout the document</li>
        </div>
      </fieldset>
    </form>
<br>
<p>
  If you would like to see genuine examples or further things to check, these can be found in the <a href="#">detailed guidance</a>
</p>
</div>
<div class="multiple-choice">
  <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
  <label for="checkbox-telephone-number">I am satisfied that the document in front of me is genuine and belongs to the person claiming to own it</label>
</div>
<br>
<br>
<br>
<br>
<a href="identity_verified.html" class="button">Continue</a>
<p class="font-xsmall">
  <br>
  If you have any concerns about the persons identity after carrying out these checks then you should alert your line manager and <a href="#">report it here</a>. The security checks that are carried out on this person if they are successful rely on this check being completed.
</p>
</main>

		{% endblock %}
