{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
		<div class="column-full">
			<div class="govuk-box-highlight">
				<h1 class="heading-xlarge">
					The identity check is complete
				</h1>
			</div>
		</div>
    <div class="column-two-thirds">
			<p>
        This information will be used for the candidate's security vetting if their interview is successful.
			</p>

    </div>
  </div>
</main>

{% endblock %}
