{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Identity verified</h1>
    <p>We've received your name, address and date of birth from GOV.UK Verify.</p>
    <hr>
    <label class="form-label" for="ni-number">    
      <h2 class="heading-medium">What's your UK passport number?</h2>
    </label>
    <input class="form-control" id="ni-number" type="text" name="ni-number">
    <a class="button" href="verified">Next</a>
    <p>If you have a UK passport, we'll take a photo of you at your interview and automatically check it against your passport photo.</p>
    <p><a href="#">I don't have a UK passport</a></p>

  </div>
</main>

{% endblock %}


