{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Proving your identity
      </h1>

      <p>
        To work for the public sector, you need to prove your identity.
      </p>
      <p>
        The easiest way to do this is with GOV.UK Verify.
      </p>
      <ul class="list list-number">
        <li>Before you come in for an interview, prove your identity with Verify. You'll receive a code that you need to bring to your interview.</li>
        <li>At your interview, you'll be asked for your code and your photo will be taken and matched against your passport photo held on file.</li>
      </ul>

      <h2 class="heading-medium">If you don't have a UK passport or driving license</h2>
        <p>You should still sign up for an identity account using GOV.UK Verify and sign in at your interview, but you'll also need to bring photo ID with you.</p>

      <details>
        <summary><span class="summary">Types of photo ID</span></summary>
      <div class="panel panel-border-narrow">

          <ul class="list list-bullet">
            <li>Passport: If the passport is from a non-EU country, it must contain UK stamps, a visa or a UK residence permit showing the immigration status of the holder in the UK</li>
            <li>Driving license: Must be from the UK or EU.</li>
            <li>Non-UK national ID card with documentation relating to immigration status and permission to work.</li>
          </ul>
          <p>Your documents expiry dates must not be before your interview date.
        </div>

      </details>

			<a style="margin-top:30px;" class="button button-start" href="http://govuk-verify.herokuapp.com/intro?requestId=work-in-gov" role="button">Continue to GOV.UK Verify</a>


      <h2 class="heading-medium">If your identity can't be verified using GOV.UK Verify</h2>
      <p>You'll need to bring photo ID and a proof of address to your interview.</p>
            <details>

        <summary><span class="summary">Types of proof of address</span></summary>

        <div class="panel panel-border-narrow">

          <ul class="list list-bullet">
            <li>recent utility bill (gas, electricity or phone) or a certificate from a supplier of utilities confirming the arrangement to pay for the services on pre-payment terms (note: mobile telephone bills will not be accepted as they can be sent to different addresses)</li>
            <li>local authority tax bill valid for the current year</li>
            <li>current UK photo-card or old-style driving licence (if not already presented as a personal ID document)</li>
            <li>bank, building society or credit union statement or passbook containing current address</li>
            <li>2 most recent mortgage statement from a recognised lender</li>
            <li>current local council rent card or tenancy agreement</li>
            <li>current benefit book or card or original notification letter from Department of Work and Pensions (DWP) confirming the rights to benefit</li>
            <li>confirmation from an electoral register search that a person of that name lives at the claimed address</li>
            <li>court order</li>
          </ul>
          <p>The date on these documents should be within the last six months. If you were not living in the UK in the last six months, bring documents sent to your non-UK address.</p>
        </div>

      </details>




    </div>
  </div>
</main>

{% endblock %}


