{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="column-two-thirds">
  <div class="back">
    <a href="index" class="link-back">Back</a>
  </div>
  <form>
    <fieldset>
      <legend>
        <h3 class="heading-large">Which of the following do you have?</h3>
        <span class="body-text">Select all that apply</span>
      </legend>

      <div class="multiple-choice">
        <input id="other-id-1" name="other-id" type="checkbox" value="uk-passport">
        <label for="other-id-1">UK passport</label>
      </div>
      <div class="multiple-choice">
        <input id="other-id-2" name="other-id" type="checkbox" value="uk-driving-licence">
        <label for="other-id-2">UK Driving Licence</label>
      </div>
      <div class="multiple-choice">
        <input id="other-id-3" name="other-id" type="checkbox" value="biometric-residence-permit">
        <label for="other-id-3">Biometric Residence Permit</label>
      </div>
      <div class="multiple-choice">
        <input id="other-id-4" name="other-id" type="checkbox" value="none-of-the-above">
        <label for="other-id-4">None of the above</label>
      </div>
    </fieldset>
  </form>
  <a style="margin-top:30px;" class="button" href="3rd-cycle-matching" role="button">Continue</a>

  </div>
</main>

{% endblock %}


