{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-two-thirds">
      
      <h1 class="heading-large">What you’ll need to bring to your interview</h1>

        <p class="heading-medium">1. Your code <span class="code-highlight">759367</span></p>

        <label class="form-label-bold" for="ni-number" style="margin-top:30px;">    
      Enter your email address and we'll send you the code
          </label>
          <input class="form-control" id="ni-number" type="text" name="ni-number">
          <a class="button" href="unverified-2">Send code</a>

        <p class="heading-medium">2. A valid form of ID</p>
        <details>
        <summary><span class="summary">Valid forms of ID</span></summary>
      <div class="panel panel-border-narrow">

          <ul class="list list-bullet">
            <li>British passport, current EEA or Swiss passport, passport from country of nationality (including visa vignette if you do not have a biometiric residence permit)</li>
            <li>full UK Birth or adoption certificate. The certificate must include the name(s) of at least one of your parents or adoptive parents</li>
            <li>certificates of registration or naturalisation as a British citizen</li>
            <li>registration certificate or document certifying permanent residence issued by Home Office</li>
            <li>current photo card driving licence. Full or provisional. UK, Isle of Man, Channel Islands and EU only</li>
            <li>EU national identity card</li>
            <li>HM forces identity card</li>
          </ul>
        </div>
      </details> 
        <p class="heading-medium">3. A valid proof of address</p>
        <details>
        <summary><span class="summary">Types of proof of address</span></summary>
        <div class="panel panel-border-narrow">
        <ul class="list list-bullet">
            <li>recent gas, electricity or water utility bill</li>
            <li>local authority tax bill valid for the current year</li>
            <li>current UK photo-card or old-style driving licence (if not already presented as a personal ID document)</li>
            <li>bank, building society or credit union statement or passbook containing current address</li>
            <li>2 most recent mortgage statement from a recognised lender</li>
            <li>current local council rent card or tenancy agreement</li>
            <li>current benefit book or card or original notification letter from Department of Work and Pensions (DWP) confirming the rights to benefit</li>
            <li>confirmation from an electoral register search that a person of that name lives at the claimed address</li>
            <li>court order</li>
          </ul>
          <p>The date on these documents should be within the last six months. If you were not living in the UK in the last six months, bring documents sent to your non-UK address.</p>
        </div>
      </details>

      <div style="margin-top:30px;" class="panel panel-border-wide">
      <p>You might also need other things for your interview that your hiring manager will tell you about.</p>
      </div>


    </div>
  </div>
</main>

{% endblock %}


