{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Identity verification complete
        </h1>
      </div>
    </div>
    <div class="column-two-thirds">
      
      <p>
        Your identity was successfully verified.
      </p>
      
      <h2 class="heading-medium">What you'll need at your interview</h2>
      <p>
        When you come to your interview, make sure you have access to your GOV.UK Verify identity account. You'll need your 
      </p>
      <ul class="list list-bullet">
        <li>
          Email address or username
        </li>
        <li>
          Password
        </li>
        <li>
          Mobile phone registered to the account
        </li>
      </ul>
      <p>
        At your interview, the hiring manager will take a photo of you. The photo will be automatically checked against the photo of you held on file by Her Majesty's Passport Office (HMPO).
      </p>
      <p>You don't need to bring your passport to your interview.</p>
      <hr />
      
      <p>
        You might also need other things for your interview that your hiring manager will tell you about.
      </p>


    </div>
  </div>
</main>

{% endblock %}


