{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="govuk-box-highlight">
        <h1 class="heading-large">
          Your code is:
          <br>
          <span class="heading-xlarge"> 759367</span>
        </h1>
        <p class="lede">Bring this code with you to your interview</p>
      </div>
    </div>
    <div class="column-two-thirds">
      
      <h2 class="heading-large">What you’ll need at your interview</h2>
      <p>Bring your code with you to your interview.</p>
      <p>
        You’ll also have your photo taken. This photo will be used to complete an automatic comparison against your official passport photo. The photo will not be stored and will be deleted as soon as the check is complete.
      </p>
      <p>You don't need to bring your passport to your interview.</p>
      <div style="margin-top:30px;" class="panel panel-border-wide">
      <p>You might also need other things for your interview that your hiring manager will tell you about.</p>
      </div>


    </div>
  </div>
</main>

{% endblock %}


