{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Confirm your identity
      </h1>

      <p>
        We need you to confirm your identity.
			</p>
			<p>
				 You'll need to signin with Verify, have your photo taken, and have an identity document checked.
      </p>
			
			<a class="button button-start" href="http://govuk-verify.herokuapp.com/intro?requestId=job-interview" role="button">Continue to GOV.UK Verify</a>

    </div>
  </div>
</main>

{% endblock %}


