{% extends "layout.html" %}
{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<h1 class="heading-xlarge">Check a government employee's identity
    		<span class="heading-secondary">Alpha prototypes</span>
    	</h1>
			
			<h2 class="heading-large alpha-heading">Alpha v4</h2>
			<ul class="list list-bullet">
				<li>
					<a href="v4/pre-interview">Pre-interview start</a>		
				</li>
				<li>
					<a href="v4/id_checker/guidance">ID Checker Guidance</a>		
				</li>
				<li>
					<a href="v4/id_checker/signin">ID Checker Signin</a>		
				</li>
				<li>
					<a href="v4/id_checker">Enter candidate number</a>	
				</li>
			</ul>
			
    	<h2 class="heading-large alpha-heading">Alpha v3</h2>
			<ul class="list list-bullet">
				<li>
					<a href="v3/pre-interview">Pre-interview start</a>		
				</li>
				<li>
					<a href="v3/id_checker/guidance">ID Checker Guidance</a>		
				</li>
				<li>
					<a href="v3/id_checker/signin">ID Checker Signin</a>		
				</li>
				<li>
					<a href="v3/id_checker/pre-candidate">Enter candidate number</a>	
				</li>
			</ul>

    	<h2 class="heading-large alpha-heading">Alpha v2</h2>
			<ul class="list list-bullet">
				<li>
					<a href="v2/pre-interview">Pre-interview start</a>		
				</li>
				<li>
					<a href="v2/id_checker/guidance">ID Checker Guidance</a>		
				</li>
				<li>
					<a href="v2/id_checker/signin">ID Checker Signin</a>		
				</li>
				<li>
					<a href="v2/id_checker/pre-candidate">Enter candidate number</a>	
				</li>
			</ul>

    	<h2 class="heading-large alpha-heading">Alpha v1</h2>
			<ul class="list list-bullet">
				<li>
					<a href="v1/pre-interview">Pre-interview start</a>		
				</li>
				<li>
					<a href="v1/id_checker/signin">ID Checker Signin</a>		
				</li>
				<li>
					<a href="v1/id_checker/pre-candidate">Enter candidate number</a>	
				</li>
			</ul>
			<ul class="list list-bullet">
				<li>
					<a href="{{asset_path}}pdf/v1.pdf">Journey map</a>	
				</li>
			</ul>

			<h2 class="heading-large alpha-heading">Discovery</h2>
			<ul class="list list-bullet">
				<li>
					<a href="{{asset_path}}pdf/as-is.pdf">As-is journey map</a>		
				</li>
			</ul>

</main>

{% endblock %}
